.btn-request {
    width: 12%;
    height: 2.5rem;

    border: none;
    border-radius: 20px;

    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, $lime-green, $bright-cyan);
}

.btn-request:hover {
    background: $lime-green;
}