.perks-field {
    @include displayFlex(center);
    flex-direction: column;

    background: $light-grayish-blue;

    width: 100vw;
    margin-top: -20px;

    .abstract {
        width: 80%;
        margin-top: -400px;
        flex-direction: column;
        padding: 4rem 0;
        margin: 1rem;
        .btn-request {
            width: 150px
        }
    }
    
    .perks {
        margin: auto;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 50px;

        margin-left: 70px;

        p {
            color: $grayish-blue;
        }
    }


}