@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    header {
        width: 100%;
        height: 6vh;

        button {
            display: none;
        }

        nav {
            display: none;
        }

        .menu-toggle {
            display: block;
            width: 40px;
            margin-right: 10px;

            .one, .two, .three {
                background-color: $grayish-blue;
                height: 4px;
                width: 100%;
                margin: 6px auto;
            }
        }

        .menu-section.on {
            position: absolute;
            top: 0;
            left: 0;

            width: 100vw;
            height: 100vh;

            background: white;

            z-index: 999;

            @include displayFlex(center);
        }

        .menu-section.on nav {
            display: block;
        }

        .menu-section.on .menu-toggle {
            position: absolute;
            right: 0;
            top: 15px;
        }

        .menu-section.on .menu-toggle .one {
            transform: rotate(45deg) translate(7px, 7px);
        }
        .menu-section.on .menu-toggle .two {
            opacity: 0;
        }

        .menu-section.on .menu-toggle .three {
            transform: rotate(-45deg) translate(7px, -9px);
        }
        
        .menu-section.on nav ul {
            display: block;
            text-align: center
        }
        
        .menu-section.on nav ul a {
            font-size: 3rem;
            transition-duration: .5s;
            display: block;
            line-height: 4rem;
        }



    }

    .intro {
        @include displayFlex(center);
        flex-direction: column-reverse;
        text-align: center;

        .abstract {
            @include displayFlex(center);
            flex-direction: column;
            width: 100%;
            margin: 0;
            margin-top: -150px;

            h1 {
                font-size: 4.5rem;
            }

            p {
                width: 90vw;
            }
        }
        
        
        .images-intro {

            width: 100%;
            height: 65vh;
            background-image: url(../images/bg-intro-mobile.svg);
            background-size: auto;
            background-position: top;
            background-repeat: no-repeat;
            
            img {
                width: 325px;
                margin-top: -350px;
            }
        }
    }

    .perks-field {

        text-align: center;

        .abstract {
            @include displayFlex(center);
        }

        .perks {
            width: 100%;
            margin-left: 0;
            p {
                padding: 2rem;
                width: 100%;
            }
        }
    }


    .articles {

        
        h2 {
            text-align: center;
            margin: 1rem;
        }

        .latest-articles {
            margin-left: 0;
            
            .card {
                @include displayFlex(center);
                margin: auto;
                flex-direction: column;
                
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 50vh;
        font-size: 20px;
        flex-direction: column;
        table {
            display: flex;
            flex-direction: column;
            text-align: center;
            td {
                display: grid;

                li {
                    font-size: 14px;
                }
            }
        }

        .copyright {
            .btn-request {
                font-size: 1.5rem;
                margin-top: 1rem;
            }

            p {
                margin-top: 1rem;
            }
        }
    }

    .btn-request {
        width: 100px;
        height: 30px;
    }

    h2 {
        font-size: 3.5rem;
        width: 90vw;
    }

    p {
        font-size: 2rem;
    }
}